@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", "san-serif";
  height: 100vh;
  justify-content: center;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  row-gap: 20px;
  align-items: center;
  justify-content: flex-start;
}

.search {
  min-width: 0;
  flex: 0 1 30px;
  /* width: 30px; */
  padding: 5px;
  margin: 5px;
  transition: flex-basis 0.3s ease;
  position: relative;
}
.search.active {
  flex: 0 1 200px;
  /* width: 200px; */
}

.input-container {
  flex: 0 1 30px;
  /* width: 30px; */
  padding: 5px;
  margin: 5px;
  transition: flex-basis 0.3s ease;
  position: relative;
  background-color: blue;

}

.input-container.active {
  background-color: blue;
  position: relative;
  flex: 0 1 200px;
  /* width: 200px; */

}

.input-container::after {
  color: black;
  content: "X";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 14px;
}

/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 20px;
  width: 200px;
  height: 200px;
}

.item {
  flex: 0 1 calc(50% - 10px);
  box-sizing: border-box;
}

.one {
  background: red;
}

.two {
  background: blue;
}

.three {
  background: yellow;
  margin-left: auto;
}

.four {
  background: green;
} */
