@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  align-items: center;
  display: flex;
  font-family: "Roboto", "san-serif";
  height: 100vh;
  justify-content: center;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.carousel {
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  height: 530px;
  overflow: hidden;
  width: 500px;
}

.image-container {
  display: flex;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

img {
  height: 500px;
  width: 500px;
  object-fit: cover;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.btn {
  background-color: rebeccapurple;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  width: 49.5%;
}

.btn:hover {
  opacity: 0.9;
}

.btn:focus {
  outline: none;
}