@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", "san-serif";
  height: 100vh;
  justify-content: center;
  margin: 0;
}

* {
  box-sizing: border-box;
}


.container {
  display: flex;
  justify-content: center;
  width: 90vw;
  gap: 20px;
}


.image-container {
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50px;
  height: 60vh;
  position: relative;
  flex: 0.05;
  transition: flex 0.3s ease-in;
}

.image-container.active {
  flex: 0.5;
  @media screen and (max-width: 480px)  {
    flex: 2;
  }
}

 .image-title {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.active .image-title {
  position: absolute;
  bottom: -5px;
  right: 30px;
  color: #fff;
  opacity: 1;
}


