@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", "san-serif";
  height: 100vh;
  justify-content: center;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.circle {
  align-items: center;
  border-radius: 50%;
  border: 2px solid #bbb;
  display: flex;
  height: 25px;
  justify-content: center;
  width: 25px;
}

.circles-container {
 display: flex; 
 flex-direction: row;
 gap: 20px;
}

.buttons-container {
  column-gap: 10px;
  display: flex;
  justify-content: center;
}

.active.circle {
  border: 2px solid blue;
}