@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", "san-serif";
  justify-content: center;
  margin: 0;
  height: 80vh;
}

* {
  box-sizing: border-box;
}

h1 {
  color: red;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.image-container {
  clip-path: ellipse(30% 50% at 50% 50%);
  overflow: hidden;
  width: auto;
  transition: width 0.3s ease;
}

.image-container img {
  clip-path: ellipse(15% 48% at 50% 50%);
  height: auto;
  width: 100%;
  object-fit: cover;
}

.image-container .image-title {
  display: none;
}

.image-container .image-title.active {
  display: block;
  position: absolute;
  bottom: -10px;
  right: 5px;
  color: white;
  z-index: 1;
}

.image-container.active {
  overflow: hidden;
  width: 600px;
}
